<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
</head>
<body>
    <h1>Component Library</h1>
    
    <p>The component library for creating portfolio website.</p>

    <hr>

    <h2>@typography</h2>
    <h1>The biggest heading is H1</h1>
    <h2>The second largest heading is H2</h2>
    <p>This is a paragraph which is like the most common way of displaying the text on the website</p>
    <small>This is comparatively smaller text</small>

    <hr>

    <h2>@container</h2>

    <h3>fluid container</h3>
    <div>This is a fluid container and it will go till the end of the page</div>

    <h3>center container</h3>
    <div>This ia a center container and it will go till the specified width</div>

    <hr>

    <h2>@links</h2>

    <a href="/">Primary Link</a>
    <a href="/">Secondary Link</a>

</body>
</html>